#headline{
  font-size: 1.75em;
  font-weight: 700;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

#byline{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  text-align: center;
}

.chapter-headline{
  font-size: 2em;
  font-weight: 700;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}

p{
  font-family: Georgia, serif;
  line-height: 180%;
  font-size: 1em;
}

.images{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 600px;
}

.caption{
  color: #773141;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  font-weight: 100;
  opacity: 0.75;
  text-align: center;
}

.footer{
  position: sticky;
  padding: 3px;
  background-color: black;
  color: #FFB612;
  text-align: center;
}

.footer-text{
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #FFB612;
}

/* Top nav */
.nav-top{
  color: white;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 700;
}

.red{
  color: #f23030;
}

.yellow{
  color: #FFB612;
}

/* hero/splash area */

.hero-container{
  position: relative;
  text-align: center;
  color: white;
}

.hero-image{
  width: 100%;
}

.overlay{
  position: absolute;
  top: 20%;
  width: 100%;
  background-color: black;
  opacity: .7;
}

.hero-head{
  font-family: 'Playfair Display', serif;
  font-size: 6em;
  color: white;
  margin: 0 auto;
}

.hero-sub{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  padding: 10px;
}

/* Media Queries */

@media (max-width: 700px){
  .hero-head{
    font-size: 1.5em;
  }
}

/* Pull Quotes */
.quote{
  font-family: 'Montserrat', sans-serif;
  color: #773141;
  font-size: 2.75em;
  font-weight: 700;
  text-align: left;
  padding: 15px 0 15px 0;
  border-top: 1px solid #773141;
  border-bottom: 1px solid #773141;
  margin-top: 20px;
  margin-bottom: 20px;
}

.quote-attribution{
  font-size: .5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  text-align: left;
  color: black;
}

/* end pull quotes*/

/* sidebar */
.sidebar {
  margin: 0;
  padding: 0;
  width: 75px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display:block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #f23030;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: gray;
  color: white;
}

div.content {
  margin-left: 100px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

#sidebar-headline {
  text-align: center;
  padding-right: 90px;
  color: #f23030;
}

#sidebar-list{
  padding-left: 150px;
  padding-right: 200px;

}

#sidebar-caption{
  font-style: italic;
  padding-right: 200px;
}

a {
  color: purple;
}

a:hover {
  color: gray;
}

a:visited{
  color: #FFB612;
}
