/* styles for my resume */

/*universal styles*/
*{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400px;
}

/*stylizing whole page*/
#container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}

/*banner name at top*/
#name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: capitalize;
  border-top: 0px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-color: #33485e;
  border-style: solid;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
}

/*title under name*/
#title {
  text-transform: capitalize;
  font-size: 1.5em;
  color: #33485e;
  font-weight: 600px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*section title styles*/
/*heading tags changed to divs with classes*/
.sectionheader {
  font-size: 1.5em;
  text-transform: capitalize;
  background-color: #33485e;
  color: white;
  font-weight: 400px;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 0px;
  width: 70%;
  min-width: 300px;
}

/*job title styles*/
.jobtitle {
  font-weight: 600px;
  font-size: 1.5em;
}

/*job organization styles*/
.organization {
  font-weight: 400px;
  font-size: 1.25em;
}

/*job dates styles*/
.date {
  font-weight: 400px;
  font-style: italic;
  font-size: 1em;
  margin-top: 2px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/* paragraph styles*/
.description {
  margin: 10px 0px;
}

/*stylizing contact list at top of page*/
.menu {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

/* .menu list item styles */
.items {
  display: inline;
}

/*style for education list*/
#degrees {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

/*style for skill list*/
#do {
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
