*{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400px;
}

h1 {
  font-size: 3em;
  color: blue;
  text-align: center;
  text-transform: capitalize;
}

strong {
  text-transform: capitalize;
  font-size: 1.5em;
  color: blue;
}

h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  background-color: blue;
  color: white;
  font-weight: 400px;
}

h3 {
  font-weight: 600px;
  font-size: 1.5em;
}

h4 {
  font-weight: 400px;
  font-size: 1.5em;
}

h5 {
  font-weight: 400px;
  font-style: italic;
  font-size: 1em;
}

.small {
  font-size: 1em;
}
