/* styles for my resume */

/*universal styles*/
*{
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1em;
  color: #444;
  font-weight: 400px;
}

/*banner name at top*/
#name {
  font-size: 3em;
  color: #33485e;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px;
  border-color: #33485e;
  border-style: solid;
  width: 60%;
  margin: 0 auto;
}

/*title under name*/
strong {
  text-transform: capitalize;
  font-size: 1.5em;
  color: #33485e;
}

/*section title styles*/
h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  background-color: #33485e;
  color: white;
  font-weight: 400px;
}

/*job title styles*/
h3 {
  font-weight: 600px;
  font-size: 1.5em;
}

/*job organization styles*/
h4 {
  font-weight: 400px;
  font-size: 1.5em;
}

/*job dates styles*/
h5 {
  font-weight: 400px;
  font-style: italic;
  font-size: 1em;
}
